<!DOCTYPE html>
<html>
<head>
  <title>TwitterNewspaper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
 	#footer{
 		position: fixed;
 		left: 0px;
 		bottom: 0px;
 		width: 100%;
 		border-top: 2px solid blue;
 		background-color: #000000; 		
 	}
	</style>	
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse" >
      <div class="navbar-inner">
        <div class="container">
          <%= image_tag("rails.jpg", alt: "Rails", size: "70x70")%>
          <%= link_to "Twitter Newspaper", '#', id: "logo" %>1          
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <%= link_to "Join!", '#', class: "btn btn-medium btn-primary" %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <footer>
    	<div id="footer"><font color = "white"> Current date: <%= Time.now %></font></div>	
    </footer>

    <div class="container">
      <%= yield %>
    </div>

</body>
</html>
